canvas {
  position: fixed;
  top: 0;
  left: 0;
};

/* .titleText{
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
} */


.navbar-nav .nav-link {
    font-size: 1.6em; /* Increase font size */
    padding: 15px 20px; /* Adjust padding */
    margin: 0 5px; /* Adjust margin */
    font-weight: 500;
    color: rgb(236, 252, 172);
}



/* Set background image */
body {
  /* background-image: url('./Media/bg_tile_light_4.png'); */
  /* background: #85959d; */
  background: #0d1316;
  background-repeat: repeat-y;
  background-size: cover;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);

  
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* @media (min-width: 768px) {
    .navbar {
      width: 95%;
      margin-left: 2.5%;
      margin-right: 10%;
    }
} */

/* Background image */
.background-image {
    position: absolute;
    /* top: 0px;
    left: 0px; */
    height: 100vh;
    width: 100%;
    background-size: cover;
    object-fit:fill;
    filter: brightness(0.6);
    z-index: -1; /* Place behind other content */
    background-repeat: no-repeat;
    
  }

.person-photo {
    margin: 0 auto; /* Center the image horizontally */
    max-width: 80%; /* Limit the width of the image */
    padding: 10px; /* Add white margin around the image */
    background-color:#000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Add shadow to the margin */
    
  }
  
.person-description {
    padding: 20px; /* Add padding to the description */
  }

.custom-icon {
    max-width: 5%; /* Ensure image does not exceed its parent's width */
    height: auto; /* Maintain aspect ratio */
  }

.content-BoxGCU{
  /* background-image: url('./Media/bg_tile_light_4.png'); */
  background-color: #59646a0f;
  background-repeat: repeat-y;
  background-size: cover;
  filter: brightness(1);
  /* background-color: #c7c7c7; */
  margin: 0 auto; /* Center the image horizontally */
  max-width: 100%; /* Limit the width of the image */
  padding: 10px; /* Add white margin around the image */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); /* Add shadow to the margin */
}

.galleryPhoto{
    margin: 0 auto; /* Center the image horizontally */
    max-width: 90%; /* Limit the width of the image */
    padding: 10px; /* Add white margin around the image */
    background-color:#e7e7e7;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Add shadow to the margin */
}



.hidden {
  opacity:0;
  filter:blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.show {
  opacity: 1; 
  filter: blur(0);
  transform: translateX(0); 
}


.gradStudentStyle{
  background: #384043;
}


.undergradStyle{
  background: #4c575b;
}

.customh1{
  color: #f9b376;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.customh1_External{
  color: #f9ea76;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.customlink {
  color: #FFD5B0;
  text-decoration: none;
}

.customlink:hover {
  color: #b58c68;
  text-decoration: none;
}

.studentSocialMediaLogo{
  width: 80%;
  height: auto;
}

.content-BoxGCUExternal{
  /* background-image: url('./Media/bg_tile_light_4.png'); */
  background-color: #4d5b69;
  background-repeat: repeat-y;
  background-size: cover;
  /* background-color: #c7c7c7; */
  margin: 0 auto; /* Center the image horizontally */
  max-width: 95%; /* Limit the width of the image */
  padding: 10px; /* Add white margin around the image */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); /* Add shadow to the margin */
}


.content-BoxGCUResearch{
  /* background-image: url('./Media/bg_tile_light_4.png'); */
  /* background-color: #46505d00; */
  background-color: #0000009e;
  background-repeat: repeat-y;
  background-size: cover;
  /* background-color: #c7c7c7; */
  margin: 0 auto; /* Center the image horizontally */
  max-width: 95%; /* Limit the width of the image */
  padding: 10px; /* Add white margin around the image */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); /* Add shadow to the margin */
  /* border-radius: 30px; */
}
